@import url('../../../modules/common/constants/colors.css');

.row {
  margin: 20px 0;
}

.sub-row a,
.row a {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.category-thumbnail {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  padding: 8px;
  object-fit: contain;
}

.category-caption {
  height: 100%;
  min-width: 1px; /* needed to enabled line breaks for to long words, exact value doesn't matter, @Max: DO NOT CHANGE */
  flex-grow: 1;
  margin-left: 10px;
  padding: 15px 0;
  border-bottom: 2px solid var(--theme-color);
  word-wrap: break-word;
}

.sub-row {
  & .category-thumbnail {
    width: 26px;
    height: 26px;
    padding: 5px 15px;
  }

  & .category-caption {
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid var(--theme-color);
  }
}
