@import url('../../../modules/common/constants/helpers.css');

.category {
  margin-bottom: 20px;
}

.category > a {
  @mixin remove-a;
  display: block;
  max-width: 170px;
  margin: 0 auto;
}

.thumbnail-sizer {
  width: 160px;
  max-width: 33.3vw;
  margin: 0 auto;
}

.category-thumbnail {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 100%;
}

.category-thumbnail img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
  object-fit: contain;
}

.category-thumbnail img:hover {
  transform: scale(1.01);
}

.category-title {
  margin: 5px 0;
  text-align: center;
}
