@font-face {
    font-family: 'Varela Round';
    font-weight: 400;
    font-style: normal;
    src: url('./varela-round-regular.eot'); /* IE9 Compat Modes */
    src: local("Varela Round"),
        url('./varela-round-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./varela-round-regular.woff2') format('woff2'),  /* Super Modern Browsers */
        url('./varela-round-regular.woff') format('woff'), /* Modern Browsers */
        url('./varela-round-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./varela-round-regular.svg#VarelaRound-Regular') format('svg'); /* Legacy iOS */
}