.circleci/
build-configs/
docs/
native/flow-typed/
native/android/fastlane/README.md
native/android/app/build/
web/dist/
web/flow-typed/
web/reports/
web/www/
release-notes/
tools/
translations/
e2e-tests/
version.json

**/fastlane/README.md