description: Generate SPDX SBOM using Syft

steps:
  - run:
      name: Install Syft
      command: |
        echo "Installing Syft..."
        curl -sSfL https://get.anchore.io/syft | sudo sh -s -- -b /usr/local/bin
        export SYFT_SOURCE_NAME="integreat-app"
        export SYFT_FORMAT_SPDX_JSON_PRETTY=true
        syft version

  - run:
      name: Generate SPDX SBOM
      command: |
        export SYFT_FORMAT_SPDX_JSON_PRETTY=true
        echo "Generating unified SBOM for repo root..."
        syft dir:. -o spdx-json=_manifest/spdx_2.2/manifest.spdx.json
        echo "SBOM generated at _manifest/spdx_2.2/manifest.spdx.json"

  - persist_to_workspace:
      root: .
      paths:
        - _manifest/spdx_2.2/manifest.spdx.json

  - store_artifacts:
      path: _manifest/spdx_2.2/manifest.spdx.json
      destination: sbom
