description: Send a notification (to Mattermost) at the end of a job, based on success or failure. Must be the last step in a job.
parameters:
  success_message:
    default: ''
    type: string
  failure_mentions:
    default: '@steffen.kleinle @bahaa.tuffaha @andreas.fischer @aizhan.alekbarova'
    type: string
  success_mentions:
    default: ''
    type: string
  only_for_branch:
    default: main
    type: string
  channel:
    default: integreat-app-notifications
    type: string
steps:
  - run:
      command: |
        if [ -n "<< parameters.failure_mentions >>" ]; then
            echo 'export MM_MESSAGE=":fire: The [${CIRCLE_JOB}](${CIRCLE_BUILD_URL}) job has failed on the main branch! :fire:\n<< parameters.failure_mentions >>"' >> $BASH_ENV
        else
            echo 'export MM_MESSAGE=":fire: The [${CIRCLE_JOB}](${CIRCLE_BUILD_URL}) job has failed on the main branch! :fire:"' >> $BASH_ENV
        fi
      name: Mattermost - Prepare failure message
      when: on_fail
  - run:
      command: |
        if [ -n "<< parameters.success_message >>" ]; then
            if [ -n "<< parameters.success_mentions >>" ]; then
                echo 'export MM_MESSAGE="<< parameters.success_message >>\n<< parameters.success_mentions >>"' >> $BASH_ENV
            else
                echo 'export MM_MESSAGE="<< parameters.success_message >>"' >> $BASH_ENV
            fi
        fi
      name: Mattermost - Prepare success message
      when: on_success
  - run:
      command: tools/notify-mattermost << parameters.only_for_branch >> << parameters.channel >>
      name: Mattermost Status Alert
      when: always
