description: Skips the current build if neccassary
parameters:
  build_config_name:
    type: enum
    enum: [integreat, malte, integreat-e2e, integreat-test-cms, "all"]
    default: "all"
steps:
  - run:
      name: Skip the current build if neccassary
      # language=bash
      command: |        
        function skip_job {
          build_config_name=$1
          variable_name=SKIP_JOB_${CIRCLE_JOB%-*} # Remove everything after "-". e.g. "check_web-1" -> check_web
          if [[ $build_config_name =~ ${!variable_name} || "all" =~  ${!variable_name} ]]; then
            echo "This job is skipped because the variable $variable_name is set"
            circleci step halt
          fi
        }
        
        skip_job << parameters.build_config_name >>
