description: Runs the test task and stores coverage and junit data
parameters:
  directory:
    type: string
steps:
  - run:
      name: Unit Tests with Coverage
      command: yarn workspace << parameters.directory >> run test:ci --maxWorkers ${TOTAL_CPUS}
  - store_test_results:
      path: << parameters.directory >>/reports/unit-test
  - store_artifacts:
      path: << parameters.directory >>/reports/coverage

