/* BottomActionSheet Overrides */
[data-rsbs-header] {
  box-shadow: none;
  padding-block-start: calc(24px + env(safe-area-inset-top));
}

[data-rsbs-header]::before {
  inline-size: 28px;
  block-size: 3px;
  background-color: #585858;
  inset-block-start: calc(18px + env(safe-area-inset-top));
}

[data-rsbs-has-header='false'] [data-rsbs-header] {
  padding-block-start: calc(32px + env(safe-area-inset-top));
}
