/* BottomActionSheet Overrides */
/* stylelint-disable */
[data-rsbs-header] {
  box-shadow: none;
  padding-top: calc(24px + env(safe-area-inset-top));
}

[data-rsbs-header]:before {
  width: 28px;
  height: 3px;
  background-color: #585858;
  top: calc(18px + env(safe-area-inset-top));
}

[data-rsbs-overlay] {
  z-index: 20;
}
