.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background: #fbda16 !important;
  color: black;
}

/* Optional: Update hover color */
.react-datepicker__day--selected:not([aria-disabled='true']):hover,
.react-datepicker__day--in-selecting-range:not([aria-disabled='true']):hover,
.react-datepicker__day--in-range:not([aria-disabled='true']):hover,
.react-datepicker__month-text--selected:not([aria-disabled='true']):hover,
.react-datepicker__month-text--in-selecting-range:not([aria-disabled='true']):hover,
.react-datepicker__month-text--in-range:not([aria-disabled='true']):hover,
.react-datepicker__quarter-text--selected:not([aria-disabled='true']):hover,
.react-datepicker__quarter-text--in-selecting-range:not([aria-disabled='true']):hover,
.react-datepicker__quarter-text--in-range:not([aria-disabled='true']):hover,
.react-datepicker__year-text--selected:not([aria-disabled='true']):hover,
.react-datepicker__year-text--in-selecting-range:not([aria-disabled='true']):hover,
.react-datepicker__year-text--in-range:not([aria-disabled='true']):hover {
  background-color: rgba(251, 218, 22, 0.5) !important;
}
