@import url('../constants/dimensions.css');
@import url('../constants/fonts.css');

.caption {
  margin: 25px 0;
  font-size: 2rem;
  text-align: center;
}

@media (--small-viewport) {
  .caption {
    margin: 10px 0;
  }
}
