@import url('../constants/dimensions.css');
@import url('../constants/fonts.css');

.caption {
  margin: 25px 0;
  font-family: var(--decorative-font-family);
  font-size: 2rem;
  line-height: var(--decorative-line-height);
  text-align: center;
}

@media (--small-viewport) {
  .caption {
    margin: 10px 0;
  }
}
