@import url('../../common/constants/colors.css');

.headroom {
  position: sticky;
  top: 0;
  z-index: 1;
  transform: translateY(0%);
  transition: transform 0.2s ease-in-out;

  &.unfixed {
    position: static;
    transform: translateY(0%);
    transition: none;
  }

  &.unpinned {
    transform: translateY(-100%);
  }
}
