@import url('../constants/helpers.css');
@import url('../constants/colors.css');
@import url('../constants/dimensions.css');

.selector {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  color: var(--text-color);
  text-align: center;
}

.vertical {
  flex-flow: column;
  align-items: center;

  & .element {
    flex: 1;
  }
}

.element {
  @mixin remove-a;
  height: var(--header-height);
  min-width: 90px;
  max-width: 120px;
  flex: 1 1 90px;
  color: var(--text-secondary-color);
  font-size: 1.2em;
  line-height: var(--header-height);
  text-align: center;
  transition: background-color 0.2s, border-radius 0.2s;
  border-radius: 30px;
  user-select: none;
}

.element-active {
  color: var(--text-color);
  font-weight: 700;
}

.element:hover {
  color: var(--text-color);
  font-weight: 700;
  border-radius: 0;
}

@media (--small-viewport) {
  .element {
    height: var(--header-height-small);
    min-width: 70px;
    flex: 1 1 70px;
    font-size: 1em;
    line-height: var(--header-height-small);
  }
}
