@import url('../../../modules/common/constants/colors.css');

.job {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--theme-color);
}

.description {
  margin-left: 10px;
  padding-bottom: 5px;
}

.title {
  padding: 15px 5px 5px;
  font-weight: 700;
}

.horizontal-line {
  border-bottom: 2px solid var(--theme-color);
}
