@import url('../../../modules/common/constants/colors.css');

:root {
  --item-height: 30px;
}

.location-list-parent {
  position: sticky;
  height: var(--item-height);
  margin-top: 10px;
  line-height: var(--item-height);
  transition: top 0.2s ease-out;
  background-color: white;
  border-bottom: 1px solid var(--theme-color);
}

.location-list-item {
  display: block;
  padding: 7px;
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: inherit;
    text-decoration: inherit;
    transition: background-color 0.5s ease;
    background-color: var(--background-accent-color);
  }
}
