:root {
  --search-logo-width: 20px;
}

.search {
  width: 80%;
  margin: auto;
}

.search-icon {
  width: var(--search-logo-width);
  font-size: 1.2em;
  text-align: center;
}

.search-input {
  width: calc(100% - var(--search-logo-width) - 5px);
  height: 25px;
  margin-left: 5px;

  color: black;
  background: transparent;

  border-width: 0 0 1px;
  border-color: black;
  outline: none;
  border-radius: 0;

  &::placeholder {
    color: black;
  }
}
