:root {
  --hover-color: rgba(0, 0, 0, 0.1);
  --item-height: 30px;
  --list-margin: 30px;
}

.language-list-item {
  display: block;
  padding: 7px;

  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: inherit;
    text-decoration: inherit;
    transition: background-color 0.5s ease;
    background-color: var(--hover-color);
  }
}

.language-list-parent {
  height: var(--item-height);
  line-height: var(--item-height);
  border-bottom: 1px solid rgba(255, 165, 0, 0.42);
}
