unless: << pipeline.parameters.api_triggered >>
jobs:
  - bump_version:
      context:
        - mattermost
      delivery: none

#  - check_web:
#      context:
#        - mattermost
#  - build_web:
#      name: build_ig_test_cms_web
#      build_config_name: integreat-test-cms
#      context:
#        - mattermost
#      requires:
#        - bump_version
#  - build_web:
#      name: build_malte_web
#      build_config_name: malte
#      context:
#        - mattermost
#      requires:
#        - bump_version
#  - build_web:
#      name: build_aschaffenburg_web
#      build_config_name: aschaffenburg
#      context:
#        - mattermost
#      requires:
#        - bump_version
#  - deliver_web:
#      filters:
#        branches:
#          only:
#            - main
#      context:
#        - mattermost
#        - sentry
#      production_delivery: false
#      requires:
#        - check_web
#        - build_ig_test_cms_web
#        - build_malte_web
#        - build_aschaffenburg_web

  - check_native:
      context:
        - mattermost

  - build_android:
      name: build_e2e_android
      build_config_name: integreat-e2e
      context:
        - mattermost
        - tuerantuer-google-play
        - tuerantuer-android
      requires:
        - bump_version
  - e2e_android:
      context:
        - mattermost
        - browserstack
      requires:
        - build_e2e_android

  - build_ios:
      name: build_e2e_ios
      build_config_name: integreat-e2e
      context:
        - mattermost
        - tuerantuer-apple
        - tuerantuer-ios
      requires:
        - bump_version
  - e2e_ios:
      context:
        - mattermost
        - browserstack
      requires:
        - build_e2e_ios
