when:
  equal: [main, << pipeline.git.branch >>]
jobs:
  - bump_version:
      prepare_delivery: false
  - build_web:
      matrix:
        parameters:
          build_config_name: [integreat-test-cms, malte-test-cms, aschaffenburg, obdach]
      requires:
        - bump_version
  - deliver_web:
      delivery: webnext
      requires:
        - build_web
