unless:
  or:
    - equal: [main, << pipeline.git.branch >>]
    - << pipeline.parameters.api_triggered >>
jobs:
  - bump_version:
      prepare_delivery: false
      context:
        - mattermost

  - check:
      context:
        - codeclimate-integreat-app
        - mattermost

  - build_web:
      name: build_ig_test_cms_web
      build_config_name: integreat-test-cms
      requires:
        - bump_version
        - check
      context:
        - mattermost

  - e2e_web:
      requires:
        - bump_version
      context:
        - mattermost
