when:
  equal: [<< pipeline.parameters.workflow_type >>, native_production_delivery]
jobs:
  - bump_version:
      prepare_delivery: true
      context:
        - deliverino
  - check

  - build_android:
      matrix:
        parameters:
          build_config_name: [integreat-e2e, integreat, malte, aschaffenburg]
      context:
        - credentials-repo
        - credentials-integreat
      requires:
        - bump_version
  - generate_sbom:
      requires:
        - build_android
  - e2e_android:
      context:
        - browserstack
      requires:
        - build_android-integreat-e2e
  - deliver_android:
      production_delivery: true
      matrix:
        parameters:
          build_config_name: [integreat, malte, aschaffenburg]
      context:
        - tuerantuer-google-play
        - sentry
        - browserstack
      requires:
        - check
        - e2e_android
        - build_android-<< matrix.build_config_name >>
        - generate_sbom
  - build_ios:
      matrix:
        parameters:
          build_config_name: [integreat-e2e, integreat, malte, aschaffenburg]
      context:
        - tuerantuer-apple
        - fastlane-match
      requires:
        - bump_version
  - generate_sbom:
      requires:
        - build_ios
  - e2e_ios:
      context:
        - browserstack
      requires:
        - build_ios-integreat-e2e
  - deliver_ios:
      production_delivery: true
      matrix:
        parameters:
          build_config_name: [integreat, malte, aschaffenburg]
      context:
        - tuerantuer-apple
        - sentry
        - browserstack
      requires:
        - check
        - e2e_ios
        - build_ios-<< matrix.build_config_name >>
        - generate_sbom
  - notify_release:
      production_delivery: true
      platform: native
      context:
        - deliverino
      requires:
        - deliver_android
        - deliver_ios
