when:
  equal: [<< pipeline.parameters.workflow_type >>, promotion]
jobs:
  - promote_web:
      context:
        - deliverino
  - promote_android:
      matrix:
        parameters:
          build_config_name: [integreat, malte, aschaffenburg]
      context:
        - tuerantuer-google-play
        - deliverino
  - promote_ios:
      matrix:
        parameters:
          build_config_name: [integreat, malte, aschaffenburg]
      context:
        - tuerantuer-apple
        - deliverino
  - notify_promotion:
      context:
        - deliverino
      requires:
        - promote_android
        - promote_ios
        - promote_web
