triggers:
  - schedule:
      cron: "0 5 8,22 * *" # For sanity checks for this syntax: https://crontab.guru/
      filters:
        branches:
          only:
            - main
jobs:
  - bump_version:
      context:
        - mattermost
        - deliverino
        - jira
      delivery: development
  - check_native:
      context:
        - mattermost

  - build_android:
      name: build_e2e_android
      build_config_name: integreat-e2e
      context:
        - mattermost
        - tuerantuer-google-play
        - tuerantuer-android
      requires:
        - bump_version
  - e2e_android:
      context:
        - mattermost
        - browserstack
      requires:
        - build_e2e_android

  - build_android:
      name: build_integreat_android
      build_config_name: integreat
      context:
        - mattermost
        - tuerantuer-google-play
        - tuerantuer-android
      requires:
        - bump_version
  - deliver_android:
      name: deliver_integreat_android
      build_config_name: integreat
      context:
        - mattermost
        - sentry
        - browserstack
        - tuerantuer-google-play
        - tuerantuer-android
      production_delivery: false
      requires:
        - check_native
        - e2e_android
        - build_integreat_android

  - build_android:
      name: build_malte_android
      build_config_name: malte
      context:
        - mattermost
        - tuerantuer-google-play
        - tuerantuer-android
      requires:
        - bump_version
  - deliver_android:
      name: deliver_malte_android
      build_config_name: malte
      context:
        - mattermost
        - sentry
        - browserstack
        - tuerantuer-google-play
        - tuerantuer-android
      production_delivery: false
      requires:
        - check_native
        - e2e_android
        - build_malte_android

  - notify_android:
      context:
        - mattermost
        - deliverino
      production_delivery: false
      requires:
        - deliver_integreat_android
        - deliver_malte_android

  - build_ios:
      name: build_e2e_ios
      build_config_name: integreat-e2e
      context:
        - mattermost
        - tuerantuer-apple
        - tuerantuer-ios
      requires:
        - bump_version
  - e2e_ios:
      context:
        - mattermost
        - browserstack
      requires:
        - build_e2e_ios

  - build_ios:
      name: build_integreat_ios
      build_config_name: integreat
      context:
        - mattermost
        - tuerantuer-apple
        - tuerantuer-ios
      requires:
        - bump_version
  - deliver_ios:
      name: deliver_integreat_ios
      build_config_name: integreat
      context:
        - mattermost
        - sentry
        - browserstack
        - tuerantuer-apple
        - tuerantuer-ios
      production_delivery: false
      requires:
        - check_native
        - e2e_ios
        - build_integreat_ios

  - build_ios:
      name: build_malte_ios
      build_config_name: malte
      context:
        - mattermost
        - tuerantuer-apple
        - tuerantuer-ios
      requires:
        - bump_version
  - deliver_ios:
      name: deliver_malte_ios
      build_config_name: malte
      context:
        - mattermost
        - sentry
        - browserstack
        - tuerantuer-apple
        - tuerantuer-ios
      production_delivery: false
      requires:
        - check_native
        - e2e_ios
        - build_malte_ios

  - notify_ios:
      context:
        - mattermost
        - deliverino
      production_delivery: false
      requires:
        - deliver_integreat_ios
        - deliver_malte_ios
