triggers:
  - schedule:
      cron: "1 3 * * 4" # For sanity checks for this syntax: https://crontab.guru/
      filters:
        branches:
          only:
            - main
jobs:
  - promote_android:
      name: promote_integreat_android
      build_config_name: integreat
      context:
        - mattermost
        - tuerantuer-google-play
  - promote_android:
      name: promote_malte_android
      build_config_name: malte
      context:
        - mattermost
        - tuerantuer-google-play
#  - promote_android: # TODO IGAPP 567 Uncomment
#      name: promote_aschaffenburg_android
#      build_config_name: aschaffenburg
#      context:
#        - mattermost
#        - tuerantuer-google-play

  - promote_ios:
      name: promote_integreat_ios
      build_config_name: integreat
      context:
        - mattermost
        - tuerantuer-apple
  - promote_ios:
      name: promote_malte_ios
      build_config_name: malte
      context:
        - mattermost
        - tuerantuer-apple
#  - promote_ios: # TODO IGAPP 567 Uncomment
#      name: promote_aschaffenburg_android
#      name: promote_aschaffenburg_ios
#      build_config_name: aschaffenburg
#      context:
#        - mattermost
#        - tuerantuer-apple
