when:
  and:
    - << pipeline.parameters.api_triggered >>
    - equal: [<< pipeline.parameters.workflow_type >>, web_production_delivery]
jobs:
  - bump_version:
      context:
        - mattermost
        - deliverino
        - jira
      prepare_delivery: true
  - check:
      context:
        - mattermost
  - e2e_web:
      context:
        - mattermost
      requires:
        - bump_version
  - build_web:
      name: build_integreat_web
      build_config_name: integreat
      context:
        - mattermost
      requires:
        - bump_version
  - build_web:
      name: build_malte_web
      build_config_name: malte
      context:
        - mattermost
      requires:
        - bump_version
  - build_web:
      name: build_aschaffenburg_web
      build_config_name: aschaffenburg
      context:
        - mattermost
      requires:
        - bump_version
  - build_web:
      name: build_obdach_web
      build_config_name: obdach
      context:
        - mattermost
      requires:
        - bump_version
  - deliver_web:
      context:
        - mattermost
      delivery: production
      requires:
        - check
        - e2e_web
        - build_integreat_web
        - build_malte_web
        - build_aschaffenburg_web
        - build_obdach_web
  - sentry_web:
      context:
        - mattermost
        - sentry
      requires:
        - build_integreat_web
        - build_malte_web
        - build_aschaffenburg_web
        - build_obdach_web
  - notify_web:
      production_delivery: true
      context:
        - mattermost
        - deliverino
      requires:
        - deliver_web
