when:
  equal: [<< pipeline.parameters.workflow_type >>, web_production_delivery]
jobs:
  - bump_version:
      prepare_delivery: true
      context:
        - deliverino
  - check
  - e2e_web:
      requires:
        - bump_version
  - build_web:
      matrix:
        parameters:
          build_config_name: [integreat, malte, aschaffenburg, obdach]
      requires:
        - bump_version
  - generate_sbom:
      requires:
        - build_web
  - deliver_web:
      delivery: production
      context:
        - sentry
      requires:
        - check
        - e2e_web
        - build_web
        - generate_sbom
  - notify_release:
      production_delivery: true
      platform: web
      context:
        - deliverino
      requires:
        - deliver_web
