when:
  equal: [<< pipeline.parameters.workflow_type >>, web_promotion]
jobs:
  - promote_web:
      context:
        - deliverino
  - notify_promotion:
      platform: web
      context:
        - deliverino
      requires:
        - promote_web
