version: 2.1

parameters:
  workflow_type:
    type: enum
    enum:
      [
        delivery,
        promotion,
        native_beta_delivery,
        native_production_delivery,
        native_promotion,
        web_beta_delivery,
        web_production_delivery,
        web_promotion,
        none,
      ]
    default: none
