.spacer {
  margin-bottom: 100px;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #fafafa;
  z-index: 1000;
}

@media screen and (max-width: 600px) {
  .logo {
    display: none;
  }
}

.logo {
  padding: 20px;
  height: 100%;
}

.logo > img {
  height: 100%;
}

.item-active,
.item:hover {
  background-color: #fbda16;
}

.item {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 100px;
  height: 100%;
  margin: 0 10px;
  font-size: 3rem;
}

.item:hover {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.item-home {
  order: 1;
  flex-grow: 1;
  margin-right: auto;
}

.item-language {
  order: 3;
  flex-grow: 1;
}

.item-location {
  order: 2;
  flex-grow: 1;
}
