@import url('../../common/constants/helpers.css');
@import url('../../common/constants/fonts.css');

.rich-layout {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--standard-fonts);
  font-size-adjust: var(--standard-fonts-size-adjust);
}
