@import url('../Common/Helper.css');
@import url('../Common/Colors.css');

.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--light-gray);
}

.item {
  @mixin remove-a;
  margin: 5px;
  font-family: 'Raleway', 'El Messiri', sans-serif;
}
