@import url('../Common/Helper.css');
@import url('../Common/Colors.css');

.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--background-accent-color);
}

.item {
  @mixin remove-a;
  margin: 5px;
  font-family: var(--standard-fonts);
  font-size-adjust: var(--standard-fonts-size-adjust);
}
