@import url('../Helper/Helper.css');

:root {
  --header-height: 85px;
  --header-height-small: 60px;
}

.header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0 2px 5px -3px rgba(0, 0, 0, 0.2);
  font-family: 'Raleway', 'El Messiri', sans-serif;
  background-color: #fafafa;
}

.header > div {
  display: flex;
  height: var(--header-height);
  align-items: center;
}

.logo-wide {
  box-sizing: border-box;
  flex: 1 1 100px;
  order: 0;
  padding: 0 10px;
}

.logo-wide img {
  max-width: 100%;
  max-height: 60%;
}

.menu-items {
  display: flex;
  flex: 2 1 100px;
  align-items: center;
  justify-content: center;
  order: 1;
}

.menu-item {
  @mixin remove-a;
  flex: 1;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
}

.menu-item.active-menu-item {
  font-weight: 700;
}

.action-items {
  flex: 1 1 100px;
  justify-content: flex-end;
  order: 2;
}

.action-item {
  height: 80%;
  cursor: pointer;
}

.action-item img {
  height: 100%;
  box-sizing: border-box;
  padding: 20%;
}

.drop-down {
  position: absolute;
  top: var(--header-height);
  right: 0;
  width: 100%;
  transform: scale(0.9);
  transform-origin: center top;
  justify-content: center;
  box-shadow: 0 2px 5px -3px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
  background-color: white;
  pointer-events: none;
}

.drop-down-active {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 750px) {
  .header {
    flex-wrap: wrap;
  }

  .header > div {
    height: var(--header-height-small);
  }

  .header .action-items,
  .header .logo-wide {
    flex: 1 1 100px;
  }

  .menu-items {
    flex: 1 0 100%;
    order: 3;
  }

  .menu-item {
    font-size: 1em;
  }

  .drop-down {
    top: var(--header-height-small);
  }

  .logo-wide img {
    max-height: 75%;
  }
}

/* https://aykevl.nl/2014/09/fix-jumping-scrollbar */
@media screen and (min-width: 1000px) {
  .header {
    padding-right: calc((200% - 100vw - 1000px) / 2);
    padding-left: calc((100vw - 1000px) / 2);
  }
}
