@import url('../Common/Colors.css');
@import url('../Common/Helper.css');

.rich-layout {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--standard-fonts);
  font-size-adjust: var(--standard-fonts-size-adjust);
}
