parameters:
  build_config_name:
    type: enum
    enum: [integreat, malte, integreat-e2e, integreat-test-cms, aschaffenburg]
    default: integreat
docker:
  - image: cimg/android:2023.02.1-node
resource_class: medium+
environment:
  TOTAL_CPUS: 3 # For resource_class medium+, used in metro.config.ci.js. For memory estimations see IGAPP-557
  FASTLANE_SKIP_UPDATE_CHECK: true
shell: /bin/bash -eo pipefail
steps:
  - skip_job:
      build_config_name: << parameters.build_config_name >>
  - add_ssh_keys: # Needed for credentials repo
      fingerprints:
        - 24:1d:3b:b7:b3:49:69:d7:54:c3:93:a5:a2:d1:71:db
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - restore_yarn_cache
  - restore_ruby_cache:
      directory: native/android
  - restore_gradle_cache
  - run:
      name: '[FL] Prepare Android Keystore'
      command: bundle exec fastlane keystore
      working_directory: native/android
  - run:
      name: '[FL] << parameters.build_config_name >> build'
      command: ./gradlew clean && bundle exec fastlane build version_name:${NEW_VERSION_NAME} version_code:${NEW_VERSION_CODE} build_config_name:<< parameters.build_config_name >>
      working_directory: native/android
  - run:
      name: Prepare Sourcemaps
      command: |
        mkdir -p sourcemaps/<< parameters.build_config_name >>
        cp native/android/app/build/generated/sourcemaps/react/release/index.android.bundle.map sourcemaps/<< parameters.build_config_name >>/
        cp native/android/app/build/generated/assets/react/release/index.android.bundle sourcemaps/<< parameters.build_config_name >>/
  - persist_to_workspace:
      root: .
      paths:
        - sourcemaps/<< parameters.build_config_name >>/*
  - run:
      name: Rename apk
      command: mv app/build/outputs/apk/release/app-release.apk << parameters.build_config_name >>.apk
      working_directory: native/android
  - store_artifacts:
      path: native/android/<< parameters.build_config_name >>.apk
  - persist_to_workspace:
      root: native/android
      paths:
        - << parameters.build_config_name >>.apk
  - unless:
      condition:
        or:
          - equal: [integreat-e2e, << parameters.build_config_name >>]
          - equal: [integreat-test-cms, << parameters.build_config_name >>]
      steps:
        - run:
            name: Persist artifact url
            command: echo "[<< parameters.build_config_name >>.apk](https://output.circle-artifacts.com/output/job/$CIRCLE_WORKFLOW_JOB_ID/artifacts/0/native/android/<< parameters.build_config_name >>.apk)" >> << parameters.build_config_name >>-apk-url
        - persist_to_workspace:
            root: ./
            paths:
              - << parameters.build_config_name >>-apk-url
  - notify
