parameters:
  build_config_name:
    type: enum
    enum: [integreat, malte, integreat-e2e, integreat-test-cms, aschaffenburg]
    default: integreat
docker:
  - image: cimg/android:2025.10.1-node
resource_class: xlarge
environment:
  TOTAL_CPUS: 4 # For resource_class large, used in metro.config.ci.js. For memory estimations see IGAPP-557
  FASTLANE_SKIP_UPDATE_CHECK: true
shell: /bin/bash -eo pipefail
steps:
  - checkout
  - add_ssh_keys: # Needed for signing repo
      fingerprints:
        - 24:1d:3b:b7:b3:49:69:d7:54:c3:93:a5:a2:d1:71:db
  - prepare_workspace
  - restore_environment_variables
  - restore_yarn_cache
  - restore_ruby_cache:
      directory: native/android
  - restore_gradle_cache
  - run:
      # Required for react-native-reanimated
      # https://github.com/software-mansion/react-native-reanimated/issues/5498#issuecomment-1857506574
      name: Install Ninja
      command: |
        sudo apt-get update && sudo apt-get install -y ninja-build
  - run:
      name: '[FL] Prepare Android Keystore'
      command: bundle exec fastlane android keystore
      working_directory: native/android
  - run:
      name: '[FL] << parameters.build_config_name >> Android Build'
      command: bundle exec fastlane android build build_config_name:<< parameters.build_config_name >> version_name:${NEW_VERSION_NAME} version_code:${NEW_VERSION_CODE}
      working_directory: native/android
  - run:
      name: Prepare Sourcemaps
      command: |
        mkdir -p sourcemaps/<< parameters.build_config_name >>
        cp native/android/app/build/generated/assets/react/release/index.android.bundle sourcemaps/<< parameters.build_config_name >>/
        cp native/android/app/build/intermediates/sourcemaps/react/release/index.android.bundle.packager.map sourcemaps/<< parameters.build_config_name >>/index.android.bundle.map
  - persist_to_workspace:
      root: .
      paths:
        - sourcemaps/<< parameters.build_config_name >>/*
  - run:
      name: Rename apk
      command: mv app/build/outputs/apk/release/app-release.apk << parameters.build_config_name >>.apk
      working_directory: native/android
  - store_artifacts:
      path: native/android/<< parameters.build_config_name >>.apk
  - persist_to_workspace:
      root: native/android
      paths:
        - << parameters.build_config_name >>.apk
  - run:
      name: Rename aab
      command: mv app/build/outputs/bundle/release/app-release.aab << parameters.build_config_name >>.aab
      working_directory: native/android
  - store_artifacts:
      path: native/android/<< parameters.build_config_name >>.aab
  - persist_to_workspace:
      root: native/android
      paths:
        - << parameters.build_config_name >>.aab
  - unless:
      condition:
        or:
          - equal: [integreat-e2e, << parameters.build_config_name >>]
          - equal: [integreat-test-cms, << parameters.build_config_name >>]
      steps:
        - run:
            name: Persist artifact url
            command: echo "[<< parameters.build_config_name >>.apk](https://output.circle-artifacts.com/output/job/$CIRCLE_WORKFLOW_JOB_ID/artifacts/0/native/android/<< parameters.build_config_name >>.apk)" >> << parameters.build_config_name >>-apk-url
        - persist_to_workspace:
            root: ./
            paths:
              - << parameters.build_config_name >>-apk-url
  - notify
