parameters:
  build_config_name:
    type: enum
    enum: [integreat, malte, integreat-e2e, integreat-test-cms]
    default: integreat
macos:
  xcode: 11.7.0
resource_class: medium
environment:
  FL_OUTPUT_DIR: output
  FASTLANE_SKIP_UPDATE_CHECK: true
  TOTAL_CPUS: 4 # For mac with resource_class medium, used in metro.config.ci.js.
shell: /bin/bash --login -o pipefail
steps:
  - add_ssh_keys: # Needed for credentials repo
      fingerprints:
        - 61:d8:94:00:53:5f:3b:19:fd:88:6b:fa:cd:ca:df:5d
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - restore_yarn_cache
  - restore_ruby_cache:
      directory: native/ios
  - restore_cocoa_pods_cache
  - run:
      name: "[FL] << parameters.build_config_name >> build"
      command: bundle exec fastlane build version_name:${NEW_VERSION_NAME} version_code:${NEW_VERSION_CODE} build_config_name:<< parameters.build_config_name >>
      working_directory: native/ios
  - store_artifacts:
      path: native/ios/output/gym/<< parameters.build_config_name >>.ipa
  - persist_to_workspace:
      root: native/ios/output
      paths:
        - << parameters.build_config_name >>.ios.bundle.map
  - persist_to_workspace:
      root: native/ios/output/gym
      paths:
        - << parameters.build_config_name >>.ipa
  - notify_failed
