# First step of each workflow. Reads and bumps the current version code and name. For deliveries the bump is committed and a JIRA release is created.
parameters:
  prepare_delivery:
    description: Whether to prepare for a delivery. If true, the version bump is committed and a JIRA release is created.
    type: boolean
    default: false
docker:
  - image: cimg/node:18.14.1
resource_class: small
steps:
  - skip_job
  - checkout
  - restore_yarn_tools_cache
  - run:
      name: Calculate next version name
      command: echo "export NEW_VERSION_NAME=$(yarn --silent next-version calc | jq .versionName)" >> ${BASH_ENV}
      working_directory: tools
  - run:
      name: Calculate next version code
      command: echo "export NEW_VERSION_CODE=$(yarn --silent next-version calc | jq .versionCode)" >> ${BASH_ENV}
      working_directory: tools
  - when:
      condition: << parameters.prepare_delivery >>
      steps:
        - run:
            name: Bump git version
            command: yarn git-version bump-to ${NEW_VERSION_NAME} ${NEW_VERSION_CODE} --deliverino-private-key ${DELIVERINO_PRIVATE_KEY} --owner ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME} --branch ${CIRCLE_BRANCH}
            working_directory: tools
        - run:
            name: Create jira release # The jira project has to have the same name as the github project. Otherwise this has to be configured.
            command: yarn jira-release create ${NEW_VERSION_NAME} --private-key ${JIRA_PRIVATE_KEY} --access-token ${JIRA_OAUTH_TOKEN} --consumer-key ${JIRA_CONSUMER_KEY} --project-name ${CIRCLE_PROJECT_REPONAME}
            working_directory: tools
  - persist_environment_variables
  - notify
