# Run checks and tests.
docker:
  - image: cimg/node:18.14.1
resource_class: small
environment:
  TOTAL_CPUS: 1 # For resource_class small
  TZ: 'Europe/Berlin' # Should be removed in IGAPP-39
shell: /bin/bash -eo pipefail
steps:
  - checkout
  - skip_job
  - restore_yarn_cache
  - restore_yarn_e2e_cache
  - check_config
  - run:
      name: Prettier
      command: yarn prettier:check
  - run:
      name: Lint
      command: yarn :lint:ci
  - run:
      name: Stylelint
      command: yarn workspace web stylelint
  - run:
      name: Generate licenses native
      working_directory: native
      command: yarn generate-licenses
  - run:
      name: TS check
      command: yarn ts:check
  - unit_test
