# Run checks and tests.
docker:
  - image: cimg/node:22.21.1
resource_class: medium
environment:
  TOTAL_CPUS: 2 # For resource_class medium
shell: /bin/bash -eo pipefail
steps:
  - checkout
  - check_config
  - restore_yarn_cache
  - restore_yarn_tools_cache
  - run:
      name: Prettier
      command: yarn prettier:check
  - run:
      name: TS check
      command: yarn ts:check:ci
  - run:
      name: Lint
      command: yarn lint:ci
  - store_test_results:
      path: reports/lint
  - run:
      name: Stylelint
      command: yarn workspace native stylelint
  - run:
      name: Stylelint
      command: yarn workspace web stylelint
  - unit_test
  - notify
