# Run checks and tests for native.
docker:
  - image: circleci/node:12.16.3
resource_class: small
environment:
  TOTAL_CPUS: 1 # For resource_class small
shell: /bin/bash -eo pipefail
steps:
  - skip_job
  - checkout
  - check_config
  - restore_yarn_cache
  - lint:
      directory: api-client
  - lint:
      directory: build-configs
  - lint:
      directory: native
  - lint:
      directory: translations
  - run:
      name: TS check
      command: yarn workspace api-client ts:check
  - run:
      name: TS check
      command: yarn workspace build-configs ts:check
  - run:
      name: TS check
      command: yarn workspace native ts:check
  - run:
      name: TS check
      command: yarn workspace translations ts:check
  - unit_test:
      directory: native
  - unit_test:
      directory: api-client
  - unit_test:
      directory: translations
  - notify
