# Run checks and tests.
docker:
  - image: cimg/node:18.14.1
resource_class: small
environment:
  TOTAL_CPUS: 1 # For resource_class small
  TZ: 'Europe/Berlin' # Should be removed in IGAPP-39
shell: /bin/bash -eo pipefail
steps:
  - checkout
  - skip_job
  - check_config
  - restore_yarn_cache
  - run:
      name: Prettier
      command: yarn prettier:check
  - run:
      name: Lint
      command: yarn lint:ci
  - run:
      name: Stylelint
      command: yarn workspace web stylelint && yarn workspace web stylelint:css
  - run:
      name: TS check
      command: yarn workspaces run ts:check
  - unit_test:
      directory: api-client
  - unit_test:
      directory: native
  - unit_test:
      directory: translations
  - unit_test:
      directory: web
  - notify
