# Deliver the app to the Apple App Store or Testflight.
parameters:
  build_config_name:
    type: enum
    enum: [integreat, malte, aschaffenburg]
    default: integreat
  production_delivery:
    description: Whether to deliver the build to production.
    type: boolean
macos:
  xcode: 11.7.0
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
shell: /bin/bash --login -o pipefail
steps:
  - skip_job:
      build_config_name: << parameters.build_config_name >>
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - restore_yarn_tools_cache
  - restore_yarn_cache # Needed for babel-node run in read_build_config.rb. May be refactored and optimized later.
  - restore_ruby_cache:
      directory: native
  - run:
      name: Parse german ios release notes
      command: tools/parse-release-notes parse --ios --destination native/ios/fastlane/<< parameters.build_config_name >>/metadata/de-DE/release_notes.txt --language de --production
  - run:
      name: Parse english ios release notes
      command: tools/parse-release-notes parse --ios --destination native/ios/fastlane/<< parameters.build_config_name >>/metadata/en-US/release_notes.txt --language en --production
  - run:
      name: "[FL] Browserstack Upload Live"
      command: bundle exec fastlane ios browserstack_upload_live ipa_path:attached_workspace/<< parameters.build_config_name >>.ipa
      working_directory: native
  - when:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: "[FL] App Store Connect Upload"
            command: bundle exec fastlane ios appstoreconnect_upload ipa_path:attached_workspace/<< parameters.build_config_name >>.ipa version_name:${NEW_VERSION_NAME} build_config_name:<< parameters.build_config_name >>
            working_directory: native
  - unless:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: "[FL] TestFlight Upload"
            command: bundle exec fastlane ios testflight_upload build_config_name:<< parameters.build_config_name >> ipa_path:attached_workspace/<< parameters.build_config_name >>.ipa
            working_directory: native
  - run:
     name: "Sentry Upload"
     command: |
       eval $(yarn workspace --silent build-configs --silent manage to-bash << parameters.build_config_name >> ios)
       tools/sentry-release "$BUILD_CONFIG_BUNDLE_IDENTIFIER" "${NEW_VERSION_NAME}" ~/attached_workspace/sourcemaps/<< parameters.build_config_name >> "${NEW_VERSION_CODE}"
  - notify
