# Deliver the app to the Apple App Store or Testflight.
parameters:
  build_config_name:
    type: enum
    enum: [integreat, malte, aschaffenburg]
    default: integreat
  production_delivery:
    description: Whether to deliver the build to production.
    type: boolean
macos:
  xcode: 16.2.0
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
shell: /bin/bash --login -o pipefail
steps:
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - restore_yarn_cache
  - restore_ruby_cache:
      directory: native
  - restore_ruby_cache:
      directory: native/ios
  - run:
      name: Prepare App Store metadata
      command: yarn app-toolbelt v0 release-notes prepare-metadata << parameters.build_config_name >> appstore
      working_directory: native
  - run:
      name: '[FL] Browserstack Upload Live'
      command: bundle exec fastlane browserstack_upload path:attached_workspace/<< parameters.build_config_name >>.ipa
      working_directory: native
  - when:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: '[FL] Apple AppStoreConnect Upload'
            command: bundle exec fastlane ios appstoreconnect_upload ipa_path:attached_workspace/<< parameters.build_config_name >>.ipa version_name:${NEW_VERSION_NAME} build_config_name:<< parameters.build_config_name >>
            working_directory: native/ios
  - unless:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: '[FL] Apple TestFlight Upload'
            command: bundle exec fastlane ios testflight_upload build_config_name:<< parameters.build_config_name >> ipa_path:attached_workspace/<< parameters.build_config_name >>.ipa
            working_directory: native/ios
  - notify
