# Deliver the app to the Google Play Store.
parameters:
  build_config_name:
    type: enum
    enum: [integreat, malte, aschaffenburg]
    default: integreat
  production_delivery:
    description: Whether to deliver the build to production.
    type: boolean
docker:
  - image: cimg/android:2025.10.1-node
resource_class: small
shell: /bin/bash -eo pipefail
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
steps:
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - restore_yarn_cache
  - restore_ruby_cache:
      directory: native
  - restore_ruby_cache:
      directory: native/android
  - run:
      name: Prepare Play Store metadata
      command: yarn app-toolbelt v0 release-notes prepare-metadata << parameters.build_config_name >> playstore ../native/android/fastlane/<< parameters.build_config_name >>/metadata
      working_directory: native
  - run:
      name: '[FL] Google PlayStore Upload'
      command: bundle exec fastlane android playstore_upload build_config_name:<< parameters.build_config_name >> aab_path:attached_workspace/<< parameters.build_config_name >>.aab production_delivery:"<< parameters.production_delivery >>" version_name:${NEW_VERSION_NAME} version_code:${NEW_VERSION_CODE}
      working_directory: native/android
  - run:
      name: '[FL] Browserstack Upload Live'
      command: bundle exec fastlane browserstack_upload path:attached_workspace/<< parameters.build_config_name >>.apk
      working_directory: native
  - run:
      name: Upload Source Maps to Sentry
      command: |
        tools/sentry-release tuerantuer.app.integreat "${NEW_VERSION_NAME}" ~/attached_workspace/sourcemaps/integreat --version-code "${NEW_VERSION_CODE}"
        tools/sentry-release de.malteapp "${NEW_VERSION_NAME}" ~/attached_workspace/sourcemaps/malte --version-code "${NEW_VERSION_CODE}"
        tools/sentry-release app.aschaffenburg "${NEW_VERSION_NAME}" ~/attached_workspace/sourcemaps/aschaffenburg --version-code "${NEW_VERSION_CODE}"
  - notify
