parameters:
  production_delivery:
    description: Whether to deliver the build to production.
    type: boolean
macos:
  xcode: 11.7.0
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
shell: /bin/bash --login -o pipefail
steps:
  - run: 'curl -sL https://sentry.io/get-cli/ | bash'
  - checkout
  - attach_workspace:
      at: .
  - restore_environment_variables
  - restore_cache:
      keys:
        - 2-gems-{{ arch }}-{{ checksum "Gemfile.lock" }}
        - 2-gems-{{ arch }}-
  - run:
      command: bundle check || bundle install --path vendor/bundle
  - save_cache:
      key: 2-gems-{{ arch }}-{{ checksum "Gemfile.lock" }}
      paths:
        - vendor/bundle
  - restore_cache:
      name: Restore Yarn Package Cache
      keys:
        - 6-yarn-{{ arch }}-{{ checksum "yarn.lock" }}-{{ checksum "package.json" }}
  - run:
      name: Install Dependencies
      command: yarn install --frozen-lockfile
  - save_cache:
      name: Save Yarn Package Cache
      key: 6-yarn-{{ arch }}-{{ checksum "yarn.lock" }}-{{ checksum "package.json" }}
      paths:
        - ~/.cache/yarn
        - node_modules
        - native/node_modules
        - web/node_modules
  - run:
      name: Parse german ios release notes
      command: tools/parse-release-notes parse --ios --destination ios/fastlane/metadata/de-DE/release_notes.txt --language de --production
  - run:
      name: Parse english ios release notes
      command: tools/parse-release-notes parse --ios --destination ios/fastlane/metadata/en-US/release_notes.txt --language en --production
  - run:
      name: "[FL] Browserstack Upload Live"
      command: bundle exec fastlane ios browserstack_upload_live app_name:integreat
  - when:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: "[FL] App Store Connect Upload"
            command: bundle exec fastlane ios appstoreconnect_upload app_name:integreat
  - unless:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: "[FL] TestFlight Upload"
            command: bundle exec fastlane ios testflight_upload app_name:integreat version_name:${NEW_VERSION_NAME}
  - run:
      name: "[FL] Upload to Sentry"
      command: bundle exec fastlane ios sentry_upload app_name:integreat version_name:${NEW_VERSION_NAME} version_code:${NEW_VERSION_CODE}  build_config_name:integreat
  - notify_failed
