# Deliver the app to the Google Play Store.
parameters:
  build_config_name:
    type: enum
    enum: [integreat, malte]
    default: integreat
  production_delivery:
    description: Whether to deliver the build to production.
    type: boolean
docker:
  - image: circleci/android:api-29-node
resource_class: small
shell: /bin/bash -eo pipefail
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
steps:
  - skip_job:
      build_config_name: << parameters.build_config_name >>
  - run: 'curl -sL https://sentry.io/get-cli/ | bash'
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - restore_yarn_tools_cache
  - restore_yarn_cache # Needed for babel-node run in read_build_config.rb. May be refactored and optimized later.
  - restore_ruby_cache:
      directory: native
  - run:
      name: Parse german android release notes
      command: tools/parse-release-notes parse --android --destination native/android/fastlane/<< parameters.build_config_name >>/metadata/de-DE/changelogs/default.txt --language de --production
  - run:
      name: Parse english android release notes
      command: tools/parse-release-notes parse --android --destination native/android/fastlane/<< parameters.build_config_name >>/metadata/en-GB/changelogs/default.txt --language en --production
        && tools/parse-release-notes parse --android --destination native/android/fastlane/<< parameters.build_config_name >>/metadata/en-US/changelogs/default.txt --language en --production
  - run:
      name: "[FL] Browserstack Upload Live"
      command: bundle exec fastlane android browserstack_upload_live apk_path:attached_workspace/<< parameters.build_config_name >>.apk
      working_directory: native
  - run:
      name: "[FL] Play Store Upload"
      command: bundle exec fastlane android playstore_upload build_config_name:<< parameters.build_config_name >> apk_path:attached_workspace/<< parameters.build_config_name >>.apk production_delivery:"<< parameters.production_delivery >>" version_name:${NEW_VERSION_NAME} version_code:${NEW_VERSION_CODE}
      working_directory: native
  - run:
      name: "[FL] Upload to Sentry"
      command: bundle exec fastlane android sentry_upload build_config_name:<< parameters.build_config_name >> sourcemap_path:attached_workspace/<< parameters.build_config_name >>.android.bundle.map version_name:${NEW_VERSION_NAME} version_code:${NEW_VERSION_CODE}
      working_directory: native
  - notify
