# Deliver the app to the Apple App Store or Testflight.
parameters:
  build_config_name:
    type: enum
    enum: [integreat, malte, aschaffenburg]
    default: integreat
  production_delivery:
    description: Whether to deliver the build to production.
    type: boolean
macos:
  xcode: 14.2.0
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
shell: /bin/bash --login -o pipefail
steps:
  - skip_job:
      build_config_name: << parameters.build_config_name >>
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - restore_yarn_tools_cache
  - restore_yarn_cache # Needed for babel-node run in read_build_config.rb. May be refactored and optimized later.
  - restore_ruby_cache:
      directory: native
  - run:
      name: Prepare App Store metadata
      command: yarn --cwd tools manage-metadata prepare-metadata << parameters.build_config_name >> appstore
  - run:
      name: '[FL] Browserstack Upload Live'
      command: bundle exec fastlane browserstack_upload_live path:attached_workspace/<< parameters.build_config_name >>.ipa
      working_directory: native
  - when:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: '[FL] App Store Connect Upload'
            command: bundle exec fastlane ios appstoreconnect_upload ipa_path:attached_workspace/<< parameters.build_config_name >>.ipa version_name:${NEW_VERSION_NAME} build_config_name:<< parameters.build_config_name >>
            working_directory: native
  - unless:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: '[FL] TestFlight Upload'
            command: bundle exec fastlane ios testflight_upload build_config_name:<< parameters.build_config_name >> ipa_path:attached_workspace/<< parameters.build_config_name >>.ipa
            working_directory: native
  - notify
