parameters:
  delivery:
    description: Whether to deliver to production, beta or to webnext.
    enum: [production, beta, webnext]
    type: enum
docker:
  - image: cimg/node:18.14.1
resource_class: small
environment:
  NODE_OPTIONS: '--max_old_space_size=2048'
shell: /bin/bash -eo pipefail
steps:
  - skip_job
  - add_ssh_keys:
      fingerprints:
        - '68:a3:fe:e7:94:f7:a4:13:35:5c:63:30:2f:07:7d:02'
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - run:
      name: Install rsync
      command: sudo apt update && sudo apt install rsync
  - when:
      condition:
        equal: [production, << parameters.delivery >>]
      steps:
        - run:
            name: Integreat production delivery # StrictHostKeyChecking=no is not a security problem. The worst that could happen is a delivery to the wrong domain.
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv --delete $HOME/attached_workspace/dist/integreat/ web@web.integreat-app.de:/var/www/integreat.app
        - run:
            name: Malte production delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv --delete $HOME/attached_workspace/dist/malte/ web@web.integreat-app.de:/var/www/malteapp.de
        - run:
            name: Aschaffenburg production delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv --delete $HOME/attached_workspace/dist/aschaffenburg/ web@web.integreat-app.de:/var/www/aschaffenburg.app
        - run:
            name: Obdach production delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv --delete $HOME/attached_workspace/dist/obdach/ web@web.integreat-app.de:/var/www/vernetztesobdach.de
  - when:
      condition:
        equal: [beta, << parameters.delivery >>]
      steps:
        - run:
            name: Integreat beta delivery # StrictHostKeyChecking=no is not a security problem. The worst that could happen is a delivery to the wrong domain.
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv --delete $HOME/attached_workspace/dist/integreat/ web@web.integreat-app.de:/var/www/beta.integreat.app
        - run:
            name: Malte beta delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv --delete $HOME/attached_workspace/dist/malte/ web@web.integreat-app.de:/var/www/beta.malteapp.de
        - run:
            name: Aschaffenburg beta delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv --delete $HOME/attached_workspace/dist/aschaffenburg/ web@web.integreat-app.de:/var/www/beta.aschaffenburg.app
        - run:
            name: Obdach beta delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv --delete $HOME/attached_workspace/dist/obdach/ web@web.integreat-app.de:/var/www/beta.vernetztesobdach.de
  - when:
      condition:
        equal: [webnext, << parameters.delivery >>]
      steps:
        - run:
            name: Integreat webnext delivery # StrictHostKeyChecking=no is not a security problem. The worst that could happen is a delivery to the wrong domain.
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv --delete $HOME/attached_workspace/dist/integreat-test-cms/ web@web.integreat-app.de:/var/www/webnext.integreat.app
        - run:
            name: Malte webnext delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv --delete $HOME/attached_workspace/dist/malte-test-cms/ web@web.integreat-app.de:/var/www/webnext.malteapp.de
        - run:
            name: Aschaffenburg webnext delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv --delete $HOME/attached_workspace/dist/aschaffenburg/ web@web.integreat-app.de:/var/www/webnext.aschaffenburg.app
        - run:
            name: Obdach webnext delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv --delete $HOME/attached_workspace/dist/obdach/ web@web.integreat-app.de:/var/www/webnext.vernetztesobdach.de
  - unless: # Don't upload to sentry for webnext deliveries
      condition:
        equal: [webnext, << parameters.delivery >>]
      steps:
        - run:
            name: 'Sentry Upload: integreat'
            command: tools/sentry-release web-integreat "${NEW_VERSION_NAME}" ~/attached_workspace/dist/integreat
        - run:
            name: 'Sentry Upload: malte'
            command: tools/sentry-release web-malte "${NEW_VERSION_NAME}" ~/attached_workspace/dist/malte
        - run:
            name: 'Sentry Upload: aschaffenburg'
            command: tools/sentry-release web-aschaffenburg "${NEW_VERSION_NAME}" ~/attached_workspace/dist/aschaffenburg
  - notify
