# Deliver integreat and malte. If it is not a production delivery, deliver to webnext.
parameters:
  production_delivery:
    description: Whether to deliver to production or to webnext.
    type: boolean
docker:
  - image: circleci/node:12.16.3
resource_class: small
shell: /bin/bash -eo pipefail
steps:
  - skip_job
  - add_ssh_keys:
      fingerprints:
        - "68:a3:fe:e7:94:f7:a4:13:35:5c:63:30:2f:07:7d:02"
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - when:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: Integreat production delivery # StrictHostKeyChecking=no is not a security problem. The worst that could happen is a delivery to the wrong domain.
            command: sftp -b - -v -o StrictHostKeyChecking=no web@web.integreat-app.de:/integreat.app \<<< "put -r $HOME/attached_workspace/dist/integreat/*"
        - run:
            name: Malte production delivery
            command: sftp -b - -v -o StrictHostKeyChecking=no web@web.integreat-app.de:/malteapp.de \<<< "put -r $HOME/attached_workspace/dist/malte/*"
        - run:
            name: Aschaffenburg production delivery
            command: sftp -b - -v -o StrictHostKeyChecking=no web@web.integreat-app.de:/aschaffenburg.app \<<< "put -r $HOME/attached_workspace/dist/aschaffenburg/*"
        - run:
            name: "Sentry Upload: integreat"
            command: tools/sentry-release web-integreat "${NEW_VERSION_NAME}" ~/attached_workspace/dist/integreat
        - run:
            name: "Sentry Upload: malte"
            command: tools/sentry-release web-malte "${NEW_VERSION_NAME}" ~/attached_workspace/dist/malte
        - run:
            name: "Sentry Upload: aschaffenburg"
            command: tools/sentry-release web-aschaffenburg "${NEW_VERSION_NAME}" ~/attached_workspace/dist/aschaffenburg
  - unless:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: Integreat development delivery
            command: sftp -b - -v -o StrictHostKeyChecking=no web@web.integreat-app.de:/webnext.integreat.app \<<< "put -r $HOME/attached_workspace/dist/integreat-test-cms/*"
        - run:
            name: Malte development delivery
            command: sftp -b - -v -o StrictHostKeyChecking=no web@web.integreat-app.de:/webnext.malteapp.de \<<< "put -r $HOME/attached_workspace/dist/malte/*"
        - run:
            name: Aschaffenburg development delivery
            command: sftp -b - -v -o StrictHostKeyChecking=no web@web.integreat-app.de:/webnext.aschaffenburg.app \<<< "put -r $HOME/attached_workspace/dist/aschaffenburg/*"
  - notify
