# Deliver integreat and malte. If it is not a production delivery, deliver to webnext.
parameters:
  production_delivery:
    description: Whether to deliver to production or to webnext.
    type: boolean
docker:
  - image: cimg/node:14.19.0
resource_class: small
shell: /bin/bash -eo pipefail
steps:
  - skip_job
  - add_ssh_keys:
      fingerprints:
        - '68:a3:fe:e7:94:f7:a4:13:35:5c:63:30:2f:07:7d:02'
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - run:
      name: Install rsync
      command: sudo apt update && sudo apt install rsync
  - when:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: Integreat production delivery # StrictHostKeyChecking=no is not a security problem. The worst that could happen is a delivery to the wrong domain.
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv $HOME/attached_workspace/dist/integreat/ web@web.integreat-app.de:/var/www/integreat.app
        - run:
            name: Malte production delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv $HOME/attached_workspace/dist/malte/ web@web.integreat-app.de:/var/www/malteapp.de
        - run:
            name: Aschaffenburg production delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv $HOME/attached_workspace/dist/aschaffenburg/ web@web.integreat-app.de:/var/www/aschaffenburg.app
        - run:
            name: Obdach production delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv $HOME/attached_workspace/dist/obdach/ web@web.integreat-app.de:/var/www/vernetztesobdach.de
        - run:
            name: 'Sentry Upload: integreat'
            command: tools/sentry-release web-integreat "${NEW_VERSION_NAME}" ~/attached_workspace/dist/integreat
        - run:
            name: 'Sentry Upload: malte'
            command: tools/sentry-release web-malte "${NEW_VERSION_NAME}" ~/attached_workspace/dist/malte
        - run:
            name: 'Sentry Upload: aschaffenburg'
            command: tools/sentry-release web-aschaffenburg "${NEW_VERSION_NAME}" ~/attached_workspace/dist/aschaffenburg
  - unless:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: Integreat development delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv $HOME/attached_workspace/dist/integreat-test-cms/ web@web.integreat-app.de:/var/www/webnext.integreat.app
        - run:
            name: Malte development delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv $HOME/attached_workspace/dist/malte-test-cms/ web@web.integreat-app.de:/var/www/webnext.malteapp.de
        - run:
            name: Aschaffenburg development delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv $HOME/attached_workspace/dist/aschaffenburg/ web@web.integreat-app.de:/var/www/webnext.aschaffenburg.app
        - run:
            name: Obdach development delivery
            command: rsync -e "ssh -o StrictHostKeyChecking=no" -arv $HOME/attached_workspace/dist/obdach/ web@web.integreat-app.de:/var/www/vernetztesobdach.de
        - run:
            name: 'Sentry Upload: integreat-test-cms'
            command: tools/sentry-release web-integreat-test-cms "${NEW_VERSION_NAME}" ~/attached_workspace/dist/integreat-test-cms
        - run:
            name: 'Sentry Upload: malte-test-cms'
            command: tools/sentry-release web-malte-test-cms "${NEW_VERSION_NAME}" ~/attached_workspace/dist/malte-test-cms
        - run:
            name: 'Sentry Upload: aschaffenburg'
            command: tools/sentry-release web-aschaffenburg "${NEW_VERSION_NAME}" ~/attached_workspace/dist/aschaffenburg
  - notify
