docker:
  # Ruby and bundler are necessary to run e2e tests
  # Using cimg/ruby leads to the following error: /usr/bin/env: ‘ruby3.0’: No such file or directory
  - image: cimg/android:2025.10.1-node
resource_class: small
shell: /bin/bash -eo pipefail
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
steps:
  - checkout

  - prepare_workspace
  - restore_yarn_cache
  - restore_ruby_cache:
      directory: native
  - run:
      name: '[FL] Android E2E Tests on Browserstack'
      command: bundle exec fastlane e2e_tests platform:android path:attached_workspace/integreat-e2e.apk
      working_directory: native
  - notify
