docker:
  - image: cimg/node:20.17.0-browsers
  - image: selenium/standalone-chrome
resource_class: medium
shell: /bin/bash -eo pipefail
steps:
  - checkout
  - skip_job
  - prepare_workspace
  - restore_yarn_cache
  - run:
      name: 'Start WebApp'
      command: yarn workspace web start:integreat-e2e
      background: true
  - run:
      name: 'Web E2E Tests'
      command: yarn workspace e2e test:web
  - notify
