docker:
  - image: circleci/android:api-29-node
resource_class: small
shell: /bin/bash -eo pipefail
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
steps:
  - checkout
  - prepare_workspace
  - restore_yarn_cache
  - restore_ruby_cache:
      directory: native
  - run:
      name: "[FL] Android E2E Tests on Browserstack"
      command: bundle exec fastlane android browserstack_e2e_tests apk_path:~/attached_workspace/integreat-e2e.apk
      working_directory: native
  - notify_failed
