# Last step of a production delivery. Move all unreleased release notes to a new directory.
docker:
  - image: cimg/node:20.17.0
resource_class: small
steps:
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - run:
      name: Move release notes
      command: yarn app-toolbelt v0 release-notes move-to ${NEW_VERSION_NAME} --deliverino-private-key ${DELIVERINO_PRIVATE_KEY} --owner ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME} --branch ${CIRCLE_BRANCH}
      working_directory: .
  - notify
