parameters:
  platform:
    type: enum
    enum: [all, web, native]
    default: all
docker:
  - image: cimg/node:22.21.1
resource_class: small
steps:
  - checkout
  - restore_yarn_tools_cache
  - run:
      name: Remove prerelease flag from github release
      command: |
        RELEASE=$(yarn --silent app-toolbelt v0 release promote --platform << parameters.platform >> --private-key ${DELIVERINO_PRIVATE_KEY} --owner ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME})
        echo "export RELEASE='${RELEASE}'" >> $BASH_ENV
      working_directory: tools
  - notify:
      success_message: '##### Integreat App release ${RELEASE} has been promoted successfully to production :tada:'
      channel: releases
      only_for_branch: ${CIRCLE_BRANCH}
