parameters:
  production_delivery:
    description: Whether builds are delivered to the production or beta lane of the play store.
    type: boolean
  platform:
    type: enum
    enum: [all, web, native]
    default: all
docker:
  - image: cimg/node:22.21.1
resource_class: small
steps:
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - restore_yarn_tools_cache
  - generate_sbom
  - run:
      name: Create github release
      command: |
        RELEASE=$(yarn --silent app-toolbelt v0 release create << parameters.platform >> ${NEW_VERSION_NAME} ${NEW_VERSION_CODE} --private-key ${DELIVERINO_PRIVATE_KEY} --owner ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME} <<# parameters.production_delivery >>--production-release<</ parameters.production_delivery >>)
        echo "export RELEASE_ID=$(echo ${RELEASE} | jq .id)" >> ${BASH_ENV}
        echo "export RELEASE_NOTES=$(echo ${RELEASE} | jq .releaseNotes)" >> ${BASH_ENV}
      working_directory: tools
  - run:
      name: Upload SBoM to github release
      command: yarn app-toolbelt v0 release upload --releaseId ${RELEASE_ID} --files ~/sbom.json --private-key ${DELIVERINO_PRIVATE_KEY} --owner ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME}
      working_directory: tools
  - unless:
      condition:
        equal:
          - web
          - << parameters.platform >>
      steps:
        - run:
            name: Upload apks to github release
            command: yarn app-toolbelt v0 release upload --releaseId ${RELEASE_ID} --files "$(ls ~/attached_workspace/*.apk)" --private-key ${DELIVERINO_PRIVATE_KEY} --owner ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME}
            working_directory: tools
        - run:
            name: Upload ipas to github release
            command: yarn app-toolbelt v0 release upload --releaseId ${RELEASE_ID} --files "$(ls ~/attached_workspace/*.ipa)" --private-key ${DELIVERINO_PRIVATE_KEY} --owner ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME}
            working_directory: tools
        - run:
            name: Prepare android artifact urls
            command: echo "export ANDROID_ARTIFACT_URLS='$(echo $(cat $(ls | grep apk-url)))'" >> ${BASH_ENV}
            working_directory: ~/attached_workspace
        - run:
            name: Prepare ios artifact urls
            command: echo "export IOS_ARTIFACT_URLS='$(echo $(cat $(ls | grep ipa-url)))'" >> ${BASH_ENV}
            working_directory: ~/attached_workspace
        - run:
            name: Move release notes
            command: yarn app-toolbelt v0 release-notes move-to ${NEW_VERSION_NAME} --private-key ${DELIVERINO_PRIVATE_KEY} --owner ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME} --branch ${CIRCLE_BRANCH}
            working_directory: tools
  - notify:
      success_message: "##### <<^ parameters.production_delivery >>[Beta] <</ parameters.production_delivery >>[<< parameters.platform >>] Integreat App version [${NEW_VERSION_NAME}](https://github.com/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/releases/tag/${NEW_VERSION_NAME}) has been released successfully :tada:\n${RELEASE_NOTES}\n${ANDROID_ARTIFACT_URLS} ${IOS_ARTIFACT_URLS}"
      channel: releases
      only_for_branch: ${CIRCLE_BRANCH}
