# Create a release (with release notes) on github and send a mattermost notification.
parameters:
  production_delivery:
    description: Whether builds are delivered to the app store or testflight.
    type: boolean
docker:
  - image: cimg/node:20.17.0
resource_class: small
steps:
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - restore_yarn_tools_cache
  - run:
      name: Prepare artifact urls
      command: echo "export IOS_ARTIFACT_URLS='$(echo $(cat $(ls | grep ipa-url)))'" >> ${BASH_ENV}
      working_directory: ~/attached_workspace
  - run:
      name: Create github release
      command: echo "export IOS_RELEASE_ID='$(yarn --silent app-toolbelt v0 release create ios ${NEW_VERSION_NAME} ${NEW_VERSION_CODE} --production-release << parameters.production_delivery >> --deliverino-private-key ${DELIVERINO_PRIVATE_KEY} --owner ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME} --release-notes "$(yarn --silent app-toolbelt v0 release-notes parse-release-notes --ios --language en)")'" >> ${BASH_ENV}
      working_directory: tools
  - run:
      name: Upload ipas to github release
      command: yarn app-toolbelt v0 release upload --releaseId ${IOS_RELEASE_ID} --files "$(ls ~/attached_workspace/*.ipa)" --deliverino-private-key ${DELIVERINO_PRIVATE_KEY} --owner ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME}
      working_directory: tools
  - run:
      name: Create release notes
      command: echo "export RELEASE_NOTES=$(yarn --silent --cwd tools app-toolbelt v0 release-notes parse-release-notes --ios --language en)" >> ${BASH_ENV}
  - notify:
      success_message: <<^ parameters.production_delivery >>[Beta] <</ parameters.production_delivery >>Integreat, Malte and Aschaffenburg ${NEW_VERSION_NAME} have been released successfully on iOS!\n${RELEASE_NOTES}\n${IOS_ARTIFACT_URLS}
      channel: releases
      only_for_branch: ${CIRCLE_BRANCH}
