# Promote the app from the beta to the production track in the Google Play Store.
parameters:
  build_config_name:
    type: enum
    enum: [integreat, malte, aschaffenburg]
    default: integreat
docker:
  - image: cimg/android:2025.10.1-node
resource_class: small
shell: /bin/bash -eo pipefail
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
steps:
  - checkout
  - restore_yarn_cache
  - restore_ruby_cache:
      directory: native/android
  - run:
      name: '[FL] Google PlayStore Promotion'
      command: bundle exec fastlane android playstore_promote build_config_name:<< parameters.build_config_name >>
      working_directory: native/android
  - notify
