# Promotes the app from Testflight to the Apple App Store.
parameters:
  build_config_name:
    type: enum
    enum: [integreat, malte, aschaffenburg]
    default: integreat
macos:
  xcode: 16.2.0
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
shell: /bin/bash --login -o pipefail
steps:
  - checkout
  - restore_yarn_tools_cache
  - restore_yarn_cache # Needed for babel-node run in util.rb. May be refactored and optimized later.
  - restore_ruby_cache:
      directory: native/ios
  - run:
      name: '[FL] Apple AppStoreConnect Promotion'
      command: bundle exec fastlane ios appstoreconnect_promote build_config_name:<< parameters.build_config_name >>
      working_directory: native/ios
  - run:
      name: Remove prerelease flag from github release
      working_directory: .
      command: |
        PROMOTION_MESSAGE=$(yarn --silent app-toolbelt v0 release promote --platform ios --deliverino-private-key ${DELIVERINO_PRIVATE_KEY} --owner ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME})
        echo "export PROMOTION_MESSAGE='${PROMOTION_MESSAGE}'" >> $BASH_ENV
  - notify:
      success_message: '${PROMOTION_MESSAGE}'
      channel: releases
      only_for_branch: ${CIRCLE_BRANCH}
  - persist_environment_variables
