# Promote the app from the beta to the production track in the Google Play Store.
parameters:
  build_config_name:
    type: enum
    enum: [integreat, malte, aschaffenburg]
    default: integreat
docker:
  - image: cimg/android:2024.04.1-node
resource_class: small
shell: /bin/bash -eo pipefail
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
steps:
  - checkout
  - skip_job:
      build_config_name: << parameters.build_config_name >>
  - restore_yarn_cache # Needed for babel-node run in read_build_config.rb. May be refactored and optimized later.
  - restore_yarn_tools_cache
  - restore_ruby_cache:
      directory: native
  - run:
      name: '[FL] Play Store Promotion'
      command: bundle exec fastlane android playstore_promote build_config_name:<< parameters.build_config_name >>
      working_directory: native
  - run:
      name: Remove prerelease flag from github release
      command: yarn github-promote-release promote --platform android --deliverino-private-key ${DELIVERINO_PRIVATE_KEY} --owner ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME}
      working_directory: tools
  - notify
