# Promotes the app from Testflight to the Apple App Store.
parameters:
  build_config_name:
    type: enum
    enum: [integreat, malte, aschaffenburg]
    default: integreat
macos:
  xcode: 15.3.0
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
shell: /bin/bash --login -o pipefail
steps:
  - checkout
  - skip_job:
      build_config_name: << parameters.build_config_name >>
  - restore_yarn_tools_cache
  - restore_yarn_cache # Needed for babel-node run in read_build_config.rb. May be refactored and optimized later.
  - restore_ruby_cache:
      directory: native
  - run:
      name: '[FL] App Store Connect Promotion'
      command: bundle exec fastlane ios appstoreconnect_promote build_config_name:<< parameters.build_config_name >>
      working_directory: native
  - run:
      name: Remove prerelease flag from github release
      command: |
        PROMOTION_MESSAGE=$(yarn github-promote-release promote --platform ios --deliverino-private-key ${DELIVERINO_PRIVATE_KEY} --owner ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME})
        echo "export PROMOTION_MESSAGE='${PROMOTION_MESSAGE}'" >> $BASH_ENV
        working_directory: tools
  - notify:
      success_message: '${PROMOTION_MESSAGE}'
  - persist_environment_variables
