# Promotes the app from Testflight to the Apple App Store.
parameters:
  build_config_name:
    type: enum
    enum: [integreat, malte, aschaffenburg]
    default: integreat
macos:
  xcode: 26.2.0
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
shell: /bin/bash --login -o pipefail
steps:
  - checkout
  - restore_yarn_cache
  - restore_ruby_cache:
      directory: native/ios
  - run:
      name: '[FL] Apple AppStoreConnect Promotion'
      command: bundle exec fastlane ios appstoreconnect_promote build_config_name:<< parameters.build_config_name >>
      working_directory: native/ios
  - notify
