docker:
  - image: cimg/node:20.17.0
resource_class: small
shell: /bin/bash -eo pipefail
steps:
  - checkout
  - restore_yarn_tools_cache
  - add_ssh_keys:
      fingerprints:
        - '68:a3:fe:e7:94:f7:a4:13:35:5c:63:30:2f:07:7d:02'
  - run:
      name: Integreat production promotion # StrictHostKeyChecking=no is not a security problem. The worst that could happen is a delivery to the wrong domain.
      command: ssh -o StrictHostKeyChecking=no web@web.integreat-app.de "rsync -arv --delete /var/www/beta.integreat.app/ /var/www/integreat.app"
  - run:
      name: Malte production promotion
      command: ssh -o StrictHostKeyChecking=no web@web.integreat-app.de "rsync -arv --delete /var/www/beta.malteapp.de/ /var/www/malteapp.de"
  - run:
      name: Aschaffenburg production promotion
      command: ssh -o StrictHostKeyChecking=no web@web.integreat-app.de "rsync -arv --delete /var/www/beta.aschaffenburg.app/ /var/www/aschaffenburg.app"
  - run:
      name: Obdach production promotion
      command: ssh -o StrictHostKeyChecking=no web@web.integreat-app.de "rsync -arv --delete /var/www/beta.netzwerkobdachwohnen.de/ /var/www/netzwerkobdachwohnen.de"
  - run:
      name: Remove prerelease flag from github release
      working_directory: tools
      command: |
        PROMOTION_MESSAGE=$(yarn --silent app-toolbelt v0 release promote --platform web --deliverino-private-key ${DELIVERINO_PRIVATE_KEY} --owner ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME})
        echo "export PROMOTION_MESSAGE='${PROMOTION_MESSAGE}'" >> $BASH_ENV
  - notify:
      success_message: '${PROMOTION_MESSAGE}'
      channel: releases
      only_for_branch: ${CIRCLE_BRANCH}
  - persist_environment_variables
