@import url('../Helper/Helper.css');

.breadcrumbs {
  overflow: scroll;
  margin-bottom: 20px;
  white-space: nowrap;
}

.separator::after {
  color: #e8e8e8;
  font-size: 16px;
  content: ' > ';
  user-select: none;
}

.level {
  color: #9c9c9c;
  font-size: 15px;
  user-select: none;
}

.breadcrumb {
  @mixin remove-a;
}

.breadcrumb:last-child .level {
  color: black;
}
