@import url('../Common/Helper.css');
@import url('../Common/Colors.css');

.breadcrumbs {
  white-space: nowrap;
  overflow-x: auto;
}

.separator::after {
  color: var(--text-decoration-color);
  font-size: 16px;
  content: ' > ';
}

.level {
  color: var(--text-secondary-color);
  font-size: 15px;
}

.breadcrumb {
  @mixin remove-a;
}
