@import url('../Helper/Helper.css');

.breadcrumbs {
  white-space: nowrap;
  overflow-x: auto;
}

.separator::after {
  color: #e8e8e8;
  font-size: 16px;
  content: ' > ';
}

.level {
  color: #9c9c9c;
  font-size: 15px;
}

.breadcrumb {
  @mixin remove-a;
}
