@import url('../Common/Helper.css');
@import url('../Common/Colors.css');

.list a {
  @mixin remove-a;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.category-thumbnail {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  padding: 5px;
}

.category-caption {
  height: 100%;
  min-width: 1px; /* needed to enabled line breaks for to long words, exact value doesn't matter, @Max: DO NOT CHANGE */
  flex-grow: 1;
  margin-left: 15px;
  padding: 15px 0;
  border-bottom: 2px solid var(--theme-color);
  word-wrap: break-word;
}
