.event-container {
  min-height: 150px;
  box-sizing: content-box;
  margin-top: 15px;
  margin-bottom: 40px;
}

.event-title {
  margin: 10px 0;
  font-size: 22px;
}

.event-thumbnail {
  width: 150px;
  max-width: 25vw;
  float: right;
  padding-bottom: 10px;
  padding-left: 10px;
}
