@import url('../Common/Colors.css');

.remote-content img {
  max-width: 100%;
  max-height: 100%;
}

.remote-content table {
  display: block;
  width: 100% !important;
  height: auto !important; /* need important because of bad-formatted remote-content */
  overflow: auto;
}

.remote-content tbody,
.remote-content thead {
  display: table; /* little bit hacky, but works in all browsers, even IE11 :O */
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
}

.remote-content tbody,
.remote-content thead,
.remote-content th,
.remote-content td {
  border: 1px solid var(--background-accent-color);
}

.remote-content a {
  overflow-wrap: break-word;
}
