.remove-a {
  text-decoration: none;
  color: inherit;
}

.remove-a:hover {
  text-decoration: none;
  color: inherit;
}

.remove-a:active {
  text-decoration: none;
  color: inherit;
}

.remove-a:visited {
  text-decoration: none;
  color: inherit;
}
