:root {
  --logo-padding: 10px;
}

.spacer {
  margin-bottom: 100px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  height: 100px;
  align-items: center;
  background-color: #FAFAFA;
}

@media screen and (max-width: 600px) {
  .logo {
    display: none;
  }
}

.logo {
  height: 100%;
  flex-grow: 1;
  order: 0;

  padding: 20px;
}

.logo > img {
  height: calc(100% - 2 * var(--logo-padding));
  padding: var(--logo-padding);
}

.item {
  display: flex;
  height: 100%;
  max-width: 100px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 10px;
  font-size: 3rem;
  text-align: center;
  transition: background-color 0.2s, border-radius 0.2s;
  border-radius: 40px;
}

.drop-down-item > .item {
  width: 100%;
  margin: 0;
}

.item:hover {
  background-color: rgba(251, 218, 24, 0.5);
  border-radius: 0;
  cursor: pointer;
}

.item-active,
.item-active:hover {
  background-color: #FBDA16;
  border-radius: 0;
}

.drop-down-item {
  display: flex;
  height: 100%;
  max-width: 100px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 10px;
  font-size: 3rem;
  text-align: center;
}

.drop-down {
  position: absolute;
  top: 100px;
  right: 0;
  width: 100%;
  transform: scale(0.9);
  transform-origin: center top;
  justify-content: center;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
  opacity: 0;
  font-family: 'Raleway', 'El Messiri', sans-serif;
  text-align: center;
  transition: transform 0.2s, opacity 0.2s;
  background-color: white;
  pointer-events: none;
}

.drop-down-active {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.item-language {
  flex-grow: 1;
  order: 2;
}

.item-location {
  flex-grow: 1;
  order: 1;
}
