.top-spacing {
  padding-top: 22px;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;

  font-family: 'Raleway', 'El Messiri', sans-serif;
}

/* https://aykevl.nl/2014/09/fix-jumping-scrollbar */
.layout {
  margin-right: 0;
  margin-left: calc(100vw - 100%);
}

