.top-spacing {
  padding-top: 22px;
}

.content {
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 16px;
  font-family: 'Raleway', 'El Messiri', sans-serif;
  word-wrap: break-word;
}

/* https://aykevl.nl/2014/09/fix-jumping-scrollbar */
@media screen and (min-width: 1000px) {
  .layout {
    margin-right: 0;
    margin-left: calc(100vw - 100%);
  }
}
