@import url('../../../modules/common/constants/helpers.css');

.category-thumbnail {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  transition: transform 0.2s;
}

.category-thumbnail:hover {
  transform: scale(1.01);
}

.category-title {
  margin-top: 5px;
  text-align: center;
}

.category {
  padding-top: 10px;
  padding-bottom: 10px;
}

.category a {
  @mixin remove-a;
}
