@import url('../../../modules/common/constants/colors.css');

.horizontal-line {
  height: 100%;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--theme-color);
}

.heading {
  margin: 20px 0;
}

.heading-text {
  margin-top: 5px;
  text-align: center;
}

.heading-image {
  display: block;
  margin: 0 auto;
}

.short-text {
  text-align: center;
  list-style-position: inside;
}

.short-text * {
  text-align: center !important;
}
