<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="/manifest.json">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Integreat">
  <meta name="apple-mobile-web-app-title" content="Integreat">
  <meta name="apple-itunes-app" content="app-id=1072353915">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#fbda16">
  <meta name="msapplication-navbutton-color" content="#fbda16">
  <meta name="msapplication-starturl" content="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="dns-prefetch" href="https://cms.integreat-app.de/" />
  <link rel="preconnect" href="https://cms.integreat-app.de/" />

  <link rel="preload" href="<%= bundle %>" as="script" type="text/javascript" />

  <link rel="preload" href="https://cms.integreat-app.de/wp-json/extensions/v3/sites" as="fetch" crossorigin />

  <link rel="stylesheet" href="/fonts/open-sans/open-sans.css" as="style" type="text/css" />
  <link rel="preload"
        href="/fonts/open-sans/open-sans-v15-greek_cyrillic-ext_vietnamese_latin_cyrillic_greek-ext-700.woff2" as="font"
        type="font/woff2" crossorigin />
  <link rel="preload"
        href="/fonts/open-sans/open-sans-v15-greek_cyrillic-ext_vietnamese_latin_cyrillic_greek-ext-regular.woff2"
        as="font" type="font/woff2" crossorigin />

  <link rel="stylesheet" href="/fonts/raleway/raleway.css" type="text/css" />
  <link rel="preload" href="/fonts/raleway/raleway-v12-latin_latin-ext-700.woff2" as="font" type="font/woff2"
        crossorigin />
  <link rel="preload" href="/fonts/raleway/raleway-v12-latin_latin-ext-regular.woff2" as="font" type="font/woff2"
        crossorigin />

  <link rel="icon" type="image/png"  sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" type="image/png"  sizes="48x48" href="/favicon-48x48.png">
  <link rel="icon" type="image/png"  sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png"  sizes="192x192" href="/favicon-192x192.png">
  <link rel="icon" type="image/png"  sizes="512x512" href="/favicon-512x512.png">

  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="shortcut icon" href="/favicon.ico">

  <style>
    @keyframes show {
      0% {
        visibility: hidden;
      }
      99% {
        visibility: hidden;
      }
      100% {
        visibility: visible;
      }
    }

    .splash {
      position: fixed;
      top: 0;
      left: 0;

      background-color: #fbda16;

      height: 100vh;
      width: 100vw;

      animation-name: show;
      animation-duration: 1s;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .splash-hidden {
      visibility: hidden;
      animation: none;
    }

    .splash-logo {
      height: 50%;
    }
  </style>
</head>
<body>
<div id="splash" class="splash"><img class="splash-logo" src="/progressive-logo.jpg"></div>
<div id="container"></div>
<script src="<%= bundle %>"></script>
</body>
</html>
