@font-face {
  font-family: 'Noto Sans Arabic';
  font-style: normal;
  font-weight: 400;
  src: /* Super Modern Browsers */ url('NotoSansArabic-Regular.woff2') format('woff2'),
    /* Modern Browsers */ url('NotoSansArabic-Regular.woff') format('woff'),
    /* Safari, Android, iOS */ url('NotoSansArabic-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Arabic';
  font-style: normal;
  font-weight: 700;
  src: /* Safari, Android, iOS */ url('NotoSansArabic-Bold.ttf') format('truetype'),
    /* Modern Browsers */ url('NotoSansArabic-Bold.woff') format('woff'),
    /* Super Modern Browsers */ url('NotoSansArabic-Bold.woff2') format('woff2');
  font-display: swap;
}
