@font-face {
    font-family: 'Noto Sans Arabic';
    font-style: normal;
    font-weight: 400;
    src: url('NotoSansArabic-Regular.eot'); /* IE9 Compat Modes */
    src: url('NotoSansArabic-Regular.eot?#iefix') format('embedded-opentype'),
    url('NotoSansArabic-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('NotoSansArabic-Regular.woff') format('woff'); /* Modern Browsers */
    url('NotoSansArabic-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
