:root {
  --theme-color: #fbda16;
  --theme-dark-color: #c4a900;
  --background-accent-color: #fafafa;
  --text-color: #000000;
  --text-secondary-color: #585858;
  --text-decoration-color: #c7c7c7;
  --background-color: #ffffff;
}
