@import url('../../common/constants/colors.css');
@import url('../../common/constants/fonts.css');
@import url('../../common/constants/helpers.css');
@import url('../../common/constants/fonts.css');
@import url('../../common/constants/dimensions.css');

.content {
  max-width: 800px;
  box-sizing: border-box;
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 16px;
  word-wrap: break-word;
}

.rich-layout {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--decorative-font-family);
  font-size-adjust: var(--font-size-adjust);
  line-height: var(--decorative-line-height);
}

.layout {
  display: flex;
}

.layout p {
  margin: var(--standard-paragraph-margin) 0;
}

@media (--small-viewport) {
  .layout {
    flex-direction: column-reverse;
  }
}

/* https://aykevl.nl/2014/09/fix-jumping-scrollbar */
@media screen and (min-width: 1000px) {
  .layout {
    margin-right: 0;
    margin-left: calc(100vw - 100%);
    background-color: var(--background-color);
  }
}
