@import url('../../common/constants/dimensions.css');

.toolbar {
  box-sizing: border-box;
  padding: 16px;
  text-align: start;
}

.toolbar > a {
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 8px;
  opacity: 0.5;
  font-size: 1.5em;
  transition: 0.2s opacity;
}

.toolbar > *:hover {
  opacity: 1;
}

@media (--small-viewport) {
  .toolbar {
    text-align: center;
  }

  .toolbar > a {
    display: inline;
    margin: 0 8px;
  }
}
