@import url('../../common/constants/dimensions.css');

.toolbar {
  box-sizing: border-box;
  padding: 0 16px;
  text-align: left;
}

.toolbar > * {
  display: block;
  margin: 8px 0;
  opacity: 0.5;
  font-size: 2em;
  transition: 0.2s opacity;
}

.toolbar > *:hover {
  opacity: 1;
}

@media (--small-viewport) {
  .toolbar * {
    display: inline;
    margin: 0 8px;
  }
}
