:root {
  --font-size-adjust: 0.55;

  --decorative-font-family: 'Raleway', 'Lateef', sans-serif;
  --decorative-font-size: 0.95rem;
  --decorative-line-height: 1.3;

  --content-font-family: 'Open Sans', 'Lateef', sans-serif;
  --content-font-size: 0.95rem;
  --content-line-height: 1.4;

  --standard-paragraph-margin: 0.75rem;
}
