<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>teamID</key>
	<string>7272KE28TJ</string>
	<key>method</key>
	<string>development</string>
	<key>uploadSymbols</key>
	<true/>
	<key>uploadBitcode</key>
	<true/>
	<key>provisioningProfiles</key>
	<dict>
		<key>de.integreat-app</key>
		<string>Integreat Team Profile</string>
	</dict>
</dict>
</plist>
