@import url('../../../app/constants/dimensions.css');
@import url('../../../app/constants/colors.css');

.drop-down {
  position: absolute;
  top: var(--header-height);
  right: 0;
  width: 100%;
  transform: scale(0.9);
  transform-origin: center top;
  justify-content: center;
  box-shadow: 0 2px 5px -3px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
  background-color: var(--background-color);
  pointer-events: none;
}

.drop-down-active {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

@media (--small-viewport) {
  .drop-down {
    top: var(--header-height-small);
  }
}
