{
  "extends": [
    "@integreat-app/eslint-config-jest",
    "@integreat-app/eslint-config-flow",
    "@integreat-app/eslint-config-babel"
  ],
  "rules": {
    "object-curly-spacing": ["off", "never"]
  },
  "globals": {
    "__DEV__": false,
    "__VERSION__": false
  }
}

