@import url('../Common/Colors.css');

:root {
  --search-logo-width: 25px;
}

.search {
  width: 80%;
  margin: auto;
}

.search-icon {
  width: 25px;
  font-size: 1.2em;
  text-align: center;
}

.search-input {
  width: calc(100% - var(--search-logo-width) - 5px);
  height: 25px;
  box-sizing: border-box;
  margin-left: 5px;
  color: var(--text-color);
  background: transparent;
  border-width: 0 0 1px;
  border-color: var(--text-secondary-color);
  outline: none;
  border-radius: 0;

  &::placeholder {
    color: var(--text-color);
  }
}
