.thumbnail {
  height: 100%;
  max-width: 150px;
  max-height: 150px;
}

.thumbnail:hover {
  transform: scale(1.01);
  transition-duration: 0.3s;
}

.caption {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.category {
  flex-basis: 33.3%;
  padding: 10px;
}
