.element {
  height: 50px;
  border-bottom: 1px solid #fbda16;
}

.element-image {
  height: 100%;
}

.heading-text {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

.heading-image {
  display: block;
  margin: 0 auto;
}
