.element {
  height: 50px;
}

.element-text {
  flex-basis: 100%;
  height: 100%;
  line-height: 50px;
  border-bottom: 2px solid #fbda16;
}

.horizontal-line {
  height: 100%;
  border-bottom: 2px solid #fbda16;
  margin-bottom: 10px;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.element-image {
  padding: 5px;
}

.image {
  width: 50px;
  max-height: 100%;
  max-width: 100%;
}

.heading {
  margin-bottom: 20px;
}

.heading-text {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

.heading-image {
  display: block;
  margin: 0 auto;
}
