.thumbnail {
  width: 100%;
  max-width: 150px;
  max-height: 150px;
}

.thumbnail:hover {
  transform: scale(1.01);
  transition-duration: 0.3s;
}

.row {
  margin-bottom: 22px;
}

.caption {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}
