:root {
  --standard-fonts: 'Raleway', 'Lateef', 'El Messiri', sans-serif;
  --standard-fonts-size-adjust: 0.55;
  --content-fonts: 'Open+Sans', 'Lateef', 'El Messiri', sans-serif;
}

@define-mixin remove-a {
  color: inherit;
  text-decoration: none;
}
