.container {
  display: flex;
  justify-content: center;
}

.thumbnail {
  display: flex;
  width: 300px;
  height: 300px;
  margin: auto;
  padding-bottom: 10px;
}

.identifier {
  font-weight: 900;
}

.date {
  font-weight: 200;
}

.location {
  font-weight: 200;
}
