@import url('../../../modules/app/constants/helpers.css');
@import url('../../../modules/app/constants/colors.css');

.list a {
  @mixin remove-a;
}

.list {
  border-top: 2px solid var(--theme-color);
}

.no-events {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
