@import url('../../../modules/common/constants/dimensions.css');

.breadcrumb-spacing {
  margin-bottom: 20px;
}

.wrapper {
  text-align: start;
}

.content {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 10px;
  word-wrap: break-word;
}
