{
  "extends": [
    "@integreat-app/eslint-config-jest",
    "@integreat-app/eslint-config-flow",
    "@integreat-app/eslint-config-react",
    "@integreat-app/eslint-config-babel"
  ],
  "globals": {
    "__VERSION__": false,
    "__BUILD_CONFIG__": "writable"
  },
  "rules": {
  }
}
