@import url('../Helper/Helper.css');

.language-flyout {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  color: black;
  font-family: 'Raleway', 'El Messiri', sans-serif;
  text-align: center;
}

.element {
  @mixin remove-a;
  height: 85px;
  min-width: 90px;
  max-width: 120px;
  flex: 1 1 90px;
  font-size: 20px;
  line-height: 85px;
  text-align: center;
  transition: background-color 0.2s, border-radius 0.2s;
  border-radius: 30px;
  user-select: none;
}

.element-active {
  font-weight: 900;
}

.element:hover {
  background-color: rgba(251, 218, 24, 0.5);
  border-radius: 0;
  cursor: pointer;
}
