@import url('../Helper/Helper.css');

.language-flyout {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  color: black;
  font-family: 'Raleway', 'El Messiri', sans-serif;
  text-align: center;
}

.element {
  @mixin remove-a;
  height: 85px;
  min-width: 90px;
  max-width: 120px;
  flex: 1 1 90px;
  color: #888;
  font-size: 1.2em;
  line-height: 85px;
  text-align: center;
  transition: background-color 0.2s, border-radius 0.2s;
  border-radius: 30px;
  user-select: none;
}

.element-active {
  color: #000;
  font-weight: 700;
}

.element:hover {
  color: #000;
  font-weight: 600;
  border-radius: 0;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .element {
    height: 60px;
    min-width: 60px;
    flex: 1 1 60px;
    font-size: 1em;
    line-height: 60px;
  }
}
