{
  "extends": [
    "@integreat-app/eslint-config-jest",
    "@integreat-app/eslint-config-flow",
    "@integreat-app/eslint-config-react",
    "@integreat-app/eslint-config-babel"
  ],
  "globals": {
    "__DEV__": false,
    "__VERSION__": false,
    "__CONFIG__": false
  },
  "rules": {
    "react/jsx-closing-tag-location": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/react/jsx-handler-names": 0
  }
}
