@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: local('Inter Regular'), local('Inter-Regular'),
  url('Inter-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */
  url('Inter-Regular.woff') format('woff'),
    /* Modern Browsers */
  url('Inter-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: local('Inter Regular'), local('Inter-Medium'),
  url('Inter-Medium.woff2') format('woff2'),
    /* Super Modern Browsers */
  url('Inter-Medium.woff') format('woff'),
    /* Modern Browsers */
  url('Inter-Medium.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: bold;
  font-style: normal;
  src: local('Inter Bold'), local('Inter-Bold'),
  url('Inter-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */
  url('Inter-Bold.woff') format('woff'),
    /* Modern Browsers */
  url('Inter-Bold.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-display: swap;
}

