@import url('../../common/constants/colors.css');
@import url('../../common/constants/fonts.css');
@import url('../../common/constants/helpers.css');
@import url('../../common/constants/fonts.css');
@import url('../../common/constants/dimensions.css');

.rich-layout {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--decorative-font-family);
  font-size-adjust: var(--font-size-adjust);
  line-height: var(--decorative-line-height);
}

.body {
  width: 100%;
  max-width: var(--max-width);
  flex-grow: 1;
  margin: 0 auto;
  background-color: var(--background-color);
  word-wrap: break-word;

  & .main {
    display: inline-block;
    width: calc(var(--max-width) - 2*var(--toolbar-width));
    max-width: calc(100% - var(--toolbar-width));
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
    text-align: start;
    word-wrap: break-word;

    & p {
      margin: var(--standard-paragraph-margin) 0;
    }
  }

  & .aside {
    position: sticky;
    display: inline-block;
    width: var(--toolbar-width);
    margin-top: 110px;
    vertical-align: top;
    transition: top 0.2s ease-in-out;
  }
}

@media (--small-viewport) {
  .body {
    display: flex;
    flex-direction: column-reverse;
  }

  .aside {
    position: static;
    margin-top: 0;
  }

  .body > * {
    width: 100%;
    max-width: initial;
  }
}

/* https://aykevl.nl/2014/09/fix-jumping-scrollbar */
@media (--min-max-width) {
  .body {
    padding-right: calc((200% - 100vw - var(--max-width)) / 2);
    padding-left: calc((100vw - var(--max-width)) / 2);
  }
}
