<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164298278764-pemn49q7v283m0tqml3q8q0ltr5h8pni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164298278764-pemn49q7v283m0tqml3q8q0ltr5h8pni</string>
	<key>API_KEY</key>
	<string>AIzaSyBSnGYrUWfIAPcEsFya1OYvTMbjvfUyOEU</string>
	<key>GCM_SENDER_ID</key>
	<string>164298278764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.integreat-app</string>
	<key>PROJECT_ID</key>
	<string>integreat-2020</string>
	<key>STORAGE_BUCKET</key>
	<string>integreat-2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164298278764:ios:2a69672da4d117116fd549</string>
	<key>DATABASE_URL</key>
	<string>https://integreat-2020.firebaseio.com</string>
</dict>
</plist>